<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{_error::head(~{::title})}">
    <meta charset="UTF-8">
    <title>500</title>
</head>
<body>
<nav th:replace="~{_error::menu(0)}">

</nav>
<br>
<br>
<br>
<br>
<br>
<div class="ui center aligned container">
    <div class="ui center aligned container">
        <h1 class="ui teal header">500</h1>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<footer th:replace="~{_error::footer}">
</footer>
</body>
<th:block th:replace="~{_error::script}">
</th:block>
</html>